
/* Note: The following styles are applied generally (ie. unless superseded lower in the style 'cascade') */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

a img {
	border: 0;
}

h1 {
	margin: 2em 0 1em 0;
	font-size: 12pt;
	font-weight: bold;
}

h2 {
	margin: 0 10%;
	font-size: 11pt;
	font-weight: bold;
}

h3 {
	margin: 0 10%;
	font-size: 11pt;
}

h4 {
	margin: 0 10%;
	font-size: 10pt;
	font-style: italic;
}

ol {
	margin: 0 17%;
	font-size: 10pt;
}



/* Note: The following styles apply to the body of the html page, they include the cream colour background 
to tie-in with the parent LDGCBR site */

body {
	background: #ffffcc;
	line-height: 1.5;
	padding: 2em 2em;
}



/* Note: The following styles apply to the 'topContainer' element used for the images in the header of each page */

.topContainer {
	width: 900px;
	height: 146px;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid black;
	padding: 0px;
	background: #ffffcc;
}



/* Note: The following styles apply to the 'menuContainer' element used for the main menu in the header of each page */

.menuContainer {
	width: 900px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid black;
	padding: 10px 0px 0px 0px;
	background: #A69F71;
}

	.menuContainer td {
		background: #ffffcc;
		border: 3px solid #3C5A41;
		padding: 5px 10px;
		font-size: 10pt;
	}

	.menuContainer a:link {
		text-decoration: none;
		color: #3C5A41;
	}

	.menuContainer a:visited {
		color: #3C5A41;
	}

	.menuContainer a:visited:active {
		color: #A61D15;
	}

	.menuContainer a:active {
		color: #A61D15;
	}

	.menuContainer a:hover {
		color: #A61D15;
	}




/* Note: The following styles apply to the 'tableContainer' element used in the 'Towers' and 'Events' pages */

.tableContainer {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid black;
	padding: 0px;
	text-align: center;
	background: #fff;
}

	.tableContainer h1 {
		font-size: 28pt;
		margin: 0px;
		padding: 10px 0px 7px 0px;
		color: #000;
		font-weight: bold;
	}

	.tableContainer h2 {
		font-size: 16pt;
		margin: 0px;
		padding: 10px;
		color: #000;
		font-weight: normal;
	}

	.tableContainer table {
		margin-left: auto;
		margin-right: auto;
	}


	.tableContainer td {
		text-align: center;
		padding: 5px 10px;
		border-bottom: 1px solid #CCC;
	}



/* Note: The following styles apply to the 'commonContainer' element used to house all the sub-elements on the 'Quarter Peals',
'People', 'News', and 'Home' ('index') pages */

.commonContainer {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid black;
	padding: 0px;
	text-align: center;
	background: #fff;
}

	.commonContainer h1 {
		font-size: 28pt;
		margin: 0px;
		padding: 10px 0px 7px 0px;
		color: #000;
		font-weight: bold;
	}

	.commonContainer h2 {
		font-size: 16pt;
		margin: 0px;
		padding: 10px;
		color: #000;
		font-weight: normal;
	}

	.commonContainer table {
		margin-left: auto;
		margin-right: auto;
	}


	.commonContainer td {
		text-align: center;
		padding: 5px 10px;
	}



/* Note: The following styles apply to the 'ArchiveMenu' element used for the sidebar menus in the 'Quarter Peal', 'People'
and 'News' pages.  These elements are created and populated by the relevant sidebar menu scripts */

.ArchiveMenu {
	width: 100px;
	float: left;
	clear: left;
	border: 0px solid black;
	padding: 10px 0px 10px 0px;
	border-top: 10px solid #ffffcc;
	background: #FFF;
}

	.ArchiveMenu table {
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.ArchiveMenu td {
		width: 90px;
		background: #ffffcc;
		border: 3px solid #3C5A41;
		border-bottom: 3px solid #3C5A41;
		padding: 5px 5px;
		font-size: 10pt;
	}

	.ArchiveMenu a:link {
		text-decoration: none;
		color: #3C5A41;
	}

	.ArchiveMenu a:visited {
		color: #3C5A41;
	}

	.ArchiveMenu a:visited:active {
		color: #A61D15;
	}

	.ArchiveMenu a:active {
		color: #A61D15;
	}

	.ArchiveMenu a:hover {
		color: #A61D15;
	}



/* Note: The following styles apply to the 'QPContainer' element used for the main part of the 'Quarter Peal' pages */

.QPContainer {
	width: 789px;
	float: right;
	clear: right;
	border: 0px solid black;
	text-align: center;
	background: #fff;
}

	.QPContainer h1 {
		font-size: 28pt;
		margin: 0px;
		text-align: center;
		padding: 10px 0px 7px 0px;
		color: #000;
		font-weight: bold;
	}

	.QPContainer h2 {
		font-size: 14pt;
		margin: 0px;
		text-align: left;
		padding: 20px 100px 20px 100px;
		color: #000;
		font-weight: bold;
	}

	.QPContainer h3 {
		line-height: 1;
		font-size: 13pt;
		margin: 0px;
		text-align: left;
		padding: 5px 150px;
		color: #000;
		font-weight: bold;
	}

	.QPContainer h4 {
		line-height: 1;
		font-size: 12pt;
		margin: 0px;
		text-align: left;
		padding: 5px 150px;
		color: #000;
		font-weight: normal;
		font-style: normal;
	}

	.QPContainer h5 {
		line-height: 1.3;
		font-size: 10pt;
		margin: 0px;
		text-align: left;
		padding: 5px 150px;
		color: #000;
		font-weight: normal;
		font-style: italic;
	}

	.QPContainer ol {
		font-size: 12pt;
		margin: 0px;
		text-align: left;
		padding: 0px 220px;
		color: #000;
		font-weight: normal;
	}

	.QPContainer li {
		font-size: 12pt;
		margin: 0px;
		text-align: left;
		padding: 0px 10px;
		color: #000;
		font-weight: normal;
	}

	.QPContainer p {
		font-size: 12pt;
		margin: 0px;
		text-align: left;
		padding: 10px 30px;
		color: #000;
		font-weight: normal;
	}



/* Note: The following styles apply to the 'PeopleContainer' element used for the main part of the 'People' pages */

.PeopleContainer {
	width: 789px;
	float: right;
	clear: right;
	border: 0px solid black;
	text-align: center;
	background: #fff;
}

		.PeopleContainer p {
			text-align: left;
			margin: 0px;
			padding: 6px 20px;
			font-size: 12pt;
		}



/* Note: The following styles apply to the 'newsContainer' element used for the main part of the 'News' pages */

.newsContainer {
	width: 789px;
	float: right;
	clear: right;
	border: 0px solid black;
	text-align: center;
	background: #fff;
}

	.newsContainer h1 {
		font-size: 28pt;
		margin: 0px;
		text-align: center;
		padding: 10px 0px 7px 0px;
		color: #000;
		font-weight: bold;
	}

	.newsContainer h2 {
		font-size: 14pt;
		margin: 0px;
		text-align: left;
		padding: 10px 30px;
		color: #000;
		font-weight: bold;
	}

	.newsContainer p {
		font-size: 12pt;
		margin: 0px;
		text-align: left;
		padding: 10px 30px;
		color: #000;
		font-weight: normal;
	}



/* Note: The following styles apply to the 'leftColumn' element used to divide the 'Home' ('index') page into two columns */

.leftColumn {
	width: 48%;
	float: left;
	clear: left;
	margin: 0px 0px 16px 0px;
	border: 0px solid black;
	padding: 2em 0em 2em 2em;
}



/* Note: The following styles apply to the 'welcomeBanner' element used in the left column of the 'Home' ('index') page */

	.welcomeBanner {
		width: 100%;
		float: left;
		clear: left;
		margin: 0px;
		text-align: left;
		border: 0px solid black;
		padding: 0em;
		background-color: #3C5A41;
	}

		.welcomeBanner h1 {
			margin: 0em;
			font-size: 16pt;
			color: #FFF;
			padding: 6px 12px;
			font-weight: normal;
		}



/* Note: The following styles apply to the 'welcomeContainer' element used in the left column of the 'Home' ('index') page */

	.welcomeContainer {
		width: 100%;
		float: left;
		clear: left;
		margin: 8px 0px;
		text-align: left;
		border: 0px solid black;
		padding: 0em;
		background-color: #E6F0E6;
	}

		.welcomeContainer p {
			margin: 0px;
			padding: 6px 12px;
			font-size: 12pt;
		}



/* Note: The following styles apply to the 'newsBanner' element used in the left column of the 'Home' ('index') page */

	.newsBanner {
		width: 100%;
		float: left;
		clear: left;
		margin: 1em 0em 0em 0em;
		text-align: left;
		border: 0px solid black;
		padding: 0em;
		background-color: #A61D15;
	}

		.newsBanner h1 {
			margin: 0em;
			font-size: 16pt;
			color: #FFF;
			padding: 6px 12px;
			font-weight: normal;
		}



/* Note: The following styles apply to the 'headline' element used in the left column of the 'Home' ('index') page */

	.headline {
		width: 100%;
		float: left;
		clear: left;
		margin: 8px 0px;
		text-align: left;
		border: 0px solid black;
		padding: 0em;
		background-color: #EAE0C8;
	}

		.headline h1 {
			margin: 0px;
			font-size: 14pt;
			color: #000;
			padding: 6px 12px 0px 12px;
			font-weight: normal;
		}

		.headline p {
			margin: 0px;
			font-size: 12pt;
			padding: 0px 12px 0px 12px;
			color: #000;
		}

		.headline a {
			padding: 0px 12px 6px 12px;
			float: right;
		}



/* Note: The following styles apply to the 'eventBanner' element used in the right column of the 'Home' ('index') page */

.eventBanner {
	width: 40%;
	float: right;
	clear: right;
	margin: 2em 2em 0em 0em;
	text-align: left;
	border: 0px solid black;
	padding: 0em;
	background-color: #BA9B48;
}

	.eventBanner h1 {
		margin: 0px;
		font-size: 16pt;
		color: #FFF;
		padding: 6px 12px;
		font-weight: normal;
	}



/* Note: The following styles apply to the 'event' element used in the right column of the 'Home' ('index') page */

.event {
	width: 40%;
	float: right;
	clear: right;
	margin: 8px 2em 0em 0em;
	text-align: left;
	border: 0px solid black;
	padding: 6px 0px;
	background-color: #FAE8AB;
}

	.event h1 {
		margin: 0px;
		font-size: 14pt;
		color: #000;
		padding: 0px 12px;
		font-weight: normal;
	}

	.event p {
		margin: 0px;
		font-size: 12pt;
		padding: 0px 12px 0px 12px;
		color: #000;
	}

	.event a {
		margin: 0px 10px 8px 10px;
		float: right;
	}



/* Note: The following styles apply to the 'guildNewsBanner' element used in the right column of the 'Home' ('index') page */

.guildNewsBanner {
	width: 40%;
	float: right;
	clear: right;
	margin: 2em 2em 0em 0em;
	text-align: left;
	border: 0px solid black;
	padding: 0em;
	background-color: #A61D15;
}

	.guildNewsBanner h1 {
		margin: 0em;
		font-size: 16pt;
		color: #FFF;
		padding: 6px 12px;
		font-weight: normal;
	}



/* Note: The following styles apply to the 'guildHeadline' element used in the right column of the 'Home' ('index') page */

.guildHeadline {
	width: 40%;
	float: right;
	clear: right;
	margin: 8px 2em 0em 0em;
	text-align: left;
	border: 0px solid black;
	padding: 6px 0px;
	background-color: #EAE0C8;
}

	.guildHeadline h1 {
		margin: 0px;
		font-size: 14pt;
		color: #000;
		padding: 6px 12px 0px 12px;
		font-weight: normal;
	}

	.guildHeadline p {
		margin: 0px;
		font-size: 12pt;
		padding: 0px 12px 0px 12px;
		color: #000;
	}

	.guildHeadline a {
		padding: 0px 12px 6px 12px;
		float: right;
	}


